<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Indiepixel</title>
    <meta name="theme-color" content="#000">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}">
  </head>
  <body>
    <header>
      <h1>
        <a href='/'>
          Indiepixel
        </a>
      </h1>
    </header>
    {% block main %}{% endblock %}
    <script>
      setInterval(function() {
        document.querySelectorAll('img').forEach(function(img) {
          var src = img.src.split('?')[0];
          img.src = src + '?t=' + Date.now();
        });
      }, 2000);
    </script>
  </body>
</html>
